@import './helpers.scss';

.analysis-layout {
  width: calc(100vw - 260px - 30px);
  // border: 2px solid blue;
  height: calc(100vh + 120px);
  margin-left: 260px;
  @include flexbox(column, flex-start, space-around);
}

.analysis-primary-a {
  @include flexbox(row, flex-start, center);
  width:100%;
  height: 22%;
  // border: 2px solid red;
}
.analysis-primary-b {
    @include flexbox(row, flex-start, center);
    width: 100%;
    height: 56%;
    margin-top: 8px;
  // box-shadow: 0 2px 4px 0 rgba(97, 97, 97, 0.685);

}
.analysis-primary-c {
    @include flexbox(row, flex-start, center);
    width: 100%;
    height: 29%;
  // box-shadow: 0 2px 4px 0 rgba(97, 97, 97, 0.685);

}
.pie-chart-container {
  height: 100%;
  width: 40%;
  box-shadow: 0 2px 4px 0 rgba(97, 97, 97, 0.685);
  padding: 6px;
  padding-bottom: 6px;
  margin-right: 8px;
  margin-top: 6px;
  margin-bottom: 20px;
  margin-bottom: 10px;
  font: 1.0em 'Poppins';
  h3 {
    margin: 3px;  
  }
}
.summary-container {
  width: 55%;
  text-align: center;
  padding: 8px;
  margin-bottom: 12px;
  // border: 2px solid grey;
  box-shadow: 0 2px 4px 0 rgba(97, 97, 97, 0.685);

  font: 1.1em 'Poppins';
  h3 {
    text-align: left;
    margin: 3px;
  }
}
.user-average-container {
  height: 100%;
  width: 40%;
  box-shadow: 0 2px 4px 0 rgba(97, 97, 97, 0.685);
  padding: 6px;
  padding-bottom: 6px;
  margin-right: 8px;
  margin-top: 56px;

  margin-bottom: 10px;
  font: 1.0em 'Poppins';
  h3 {
    margin: 3px;  
  }
}
.options-container {
  width: 45%;
  padding: 6px;
  // border: 2px solid black;
  box-shadow: 0 2px 4px 0 rgba(97, 97, 97, 0.685);
  margin-left: 8px;
  margin-bottom: 11px;
  font: 1.0em 'Poppins';

  h3 {
    margin: 3px;
    text-align: right;
  }
}
.summary-table {
  width: 90%;
}
.bar-chart-container {
  height: 100%;
  width: 60%;
  box-shadow: 0 2px 4px 0 rgba(97, 97, 97, 0.685);
  padding: 6px;
  margin-top: 44px;
  font: 1.0em 'Poppins';
  h3 {
    margin: 3px;  
  }
}

.top-table-container {
  height: 100%;
  width: 60%;
  box-shadow: 0 2px 4px 0 rgba(97, 97, 97, 0.685);
  padding: 6px;
  font: 1.2em 'Poppins';
  @include flexbox(column, space-between, center);
  h3 {
    margin: 3px;  
  }
  // overflow-y: scroll;
}
.switch-container {
  @include flexbox(row, space-around, center);
}

@media screen and (min-width: 961px) {
  
}
@media screen and (max-width: 959px) {
  .analysis-layout {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .analysis-primary-a {
    @include flexbox(column, flex-start, center);
    width: 100%;
  }
  .analysis-primary-b {
    @include flexbox(column, flex-start, center);
        width: 100%;

  }
  .analysis-primary-c {
    @include flexbox(column, flex-start, center);
        width: 100%;

  }
  .analysis-layout {
    height: 100%;
    overflow-y: scroll;
    .summary-container {
          width: 96%;

    }
    .user-average-container {
        width: 96%;

    }
    .pie-chart-container {
        width: 94%;

    }
    .options-container {
        width: 96%;

    }
    .bar-chart-container {
        width: 96%;

    }
    .top-table-container {
        width: 96%;

    }
  }
  .options-container {
    margin-left: 0;
  }
  .summary-container {
    margin-top: 10px;
  }
  .user-average-container {
    width: 90%;
    padding: 0px;
  }
}
@media (min-width: 960px) and (max-width: 1170px) {
  .analysis-primary-a {
    margin-left: 15px;
  }
  .analysis-primary-b {
        margin-left: 15px;

  }
  .analysis-primary-c {
        margin-left: 15px;

  }
}