@import './helpers.scss';
.outer-container {
  margin: 30px;
  margin-top: 10px;
  width: 70%;
  border: 2px solid rgb(240, 240, 240);
  height: 30%;
  border-radius: 22px;
}
.inner-container {
  width: 100%;
  height: 100%;
  @include flexbox(row, flex-start, center);

}

.each-bar {
  width: calc(10%);
  margin-right: 1.5px;
  height: 100%;
  animation: popIn 0.8s 1 forwards;
  opacity: 0;
}
@for $i from 1 through 10 {
  .inner-container > div:nth-child(#{$i}) {
    animation-delay: #{(0 + (($i - 1) * 0.40))}s;
  }
}

.inner-container > div:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.inner-container > div:nth-child(10) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
@keyframes popIn {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;

  }
}
@media screen and (max-width: 560px) {
  .outer-container {
    height: 50px;
    max-width: 90%;
    margin: 14px;
  }
}