@import './helpers.scss';

.details-layout {
  background-color: rgb(29, 29, 29);
  width: calc(100% - 260px);
  height: 100%;
  position: fixed;
  right: 0;
  padding-left: 8px;
  padding-top: 8px;
  top: 89px;
  overflow-y: scroll;
  padding-bottom: 10px;
  color: whitesmoke;
  font-family: 'Poppins';

}
.other-details-container {
  width: 100%;
  height: calc(100% - 100px);
  padding-top: 24px;
  border: 2x solid red;
  @include flexbox(row, flex-start, flex-start);
}
.details-container {
  width: calc(100% - 560px);
  height: 315px;
  padding-left: 10px;
}
.partial-details-container {
  @include flexbox(row, flex-start, flex-start);
}
.details-movie-preface {
  @include flexbox(row, flex-start, center);
}
.details-movie-title {
  font-size: 2.4em;
  font-weight: bold;
}
.details-movie-genre-container {
  @include flexbox(row, flex-start, center);
}
.actors-container {
  padding-right: 25px;
}
.genre-list-item {
  padding: 5px;
  margin: 4px;
  border: 2px solid grey;
  font-family: 'Poppins';
  border-radius: 3px;
  color: rgb(211, 211, 211);
}

.details-movie-plot {
  color: rgb(211, 211, 211);
  font-size: 0.9em;
  padding: 15px;
  padding-left: 0;
  width: 90%;

}
.details-table {
  border-spacing: 10px;
  text-align: center;
  min-width: 225px;
  margin-top: 25px;
}
.details-movie-lang-container {
  margin: 4px;
  @include flexbox(row, flex-start, center);
  width: 80%;
  span {
    margin-right: 8px;
  }
}
.after-poster {
  padding-left: 24px;
  width: calc(100vw - 324px);
}
.vid-container {
  // padding-right: 10px;
  // displa
  width: 100%;
  text-align: center;

}

.separator {
  color: grey;
}
.read-more {
  color: #00acc1;
  &:hover {
    color: rgb(253, 212, 166);
  }
  margin-left: 6px;
  cursor: pointer;
}
@media screen and (max-width: 959px) {
  .details-layout {
    width: 100vw;
  }
  .partial-details-container {
    margin-top: 5px;
  }
  .details-container {
    padding-left: 15px;
    padding-top: 5px;
    margin-bottom: 35px;
  }
  .other-details-container {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 55px;
  }
}

@media (min-width: 960px) and (max-width: 1060px) {
  .partial-details-container {
    flex-direction: column;
    margin-top: 5px;
  }
  .details-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .other-details-container {
    margin-top: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 865px) {
  .partial-details-container {
    flex-direction: column;
    margin-top: 5px;
  }
  .details-container {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 515px) {
  .other-details-container {
    flex-direction: column;
    align-items: center;
    min-height: 100%;
  }
  .after-poster {
    width: 100%;
    padding: 15px;
    margin-bottom: 100px;
  }
  .button-count-group {
    text-align: center;
  }

}