@import './helpers.scss';
.home-layout {
  width: 100%;
  min-height: calc(100vh - 217px);
  margin-top: 87px;
}
.background-image-wrapper {
  width: calc(100vw - 30px);
  height: calc(100vh - 87px);
  filter: grayscale(40%);
  background-image: url('https://wallpaperaccess.com/full/3658597.jpg');
  background-size: auto;
  position: absolute;
  top: 87px;
  z-index: -1;
}
.background-image-fade {
  margin-top: 87px;
  background: linear-gradient(180deg, rgba(46,46,46,1) 0%, rgba(0,0,0,0) 50%, rgb(46, 46, 46));
  // z-index: 0;
  position: absolute;
  width: calc(100vw - 30px);
  height: calc(100vh - 87px);
  top: 0;
}
.home-search-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 50%;
  @include flexbox(row, flex-start, center);
  left: 35%;
}

.home-search-input {
  height: 1.3em;
  padding: 8px;
  max-width: 450px;
  outline: none;
  font-size: 2em;
  border: none;
}
@media screen and (max-width: 959px) {
  .background-image-wrapper {
    left:0;
    width: 100%;
  }
  .background-image-fade {
    left:0;
    width: 100%;
  }
  .home-search-container {
    margin: 0 auto;
    left: 20%;
  }
}

@media screen and (max-width: 850px) {
  .home-search-container {
    max-width: 100%;
    left: 10%;
  }
  .home-search-input {
    width: 80%;
  }
}

@media screen and (max-width: 520px) {
  .home-search-container {
    @include flexbox(column, center, center);
    width: 82%;
  }
}
@media screen and (min-width: 961px) {
  .home-search-input {
    margin-left: 20%;
  }
  .home-search-container {
    width: 100vw;
    position: relative;
    
  }
}