body {
  margin: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.logo-container{
  font-size: 3em;
  z-index: 2;
  font-weight: bold;
  font-family: 'Poppins';
  color: #00acc1;
}