@import './helpers';

.nav-container {
  @include flexbox(row, space-around, center);
  height: 85px;
  padding-bottom: 2px;
  background-color: rgb(235, 235, 235);
  // color: rgb(17, 17, 17);
  opacity: 0.9;
  // padding-left: 55px;
  // padding-right: 55px;
  box-shadow: 0 0 4px 4px rgb(124, 124, 124);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: calc(100vw - 280px);
  padding-left: 10px;
  padding-right: 10px;
}
.hoverable-icon {
  &:hover {
    color: #00acc1;
  }
}
.logo {
  max-height: 55px;
  max-width: 55px;
}
.nav-logo {
  cursor: pointer;

}
.about-me-logo {
  font-size: 37px;
  cursor: pointer;
}
.fas {
  font-size: 1.6em;
}

.selected {
  border-bottom: 4px solid #00acc1;
  border-radius: 4px;
  color: #00acc1;
  text-align: center;
}
.not-selected {
  color: rgb(0, 0, 0);
  text-align: center;
}
.nav-spacer {
  display: none;
}
.hamburger-btn {
  display: none;
}

@media screen and (max-width: 959px) {
  .nav-container {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
  }
  .hamburger-btn {
    display: block;
    cursor: pointer;
  }
}