@import './helpers.scss';

.search-container {
  z-index: 1;
  width: 100%;
  @include flexbox(row, center, center);
}

.search-input {
  height: 1em;
  padding: 5px;
  width: 80%;
  outline: none;
  font-size: 1em;
  border: none;
}
@media screen and (max-width: 570px) {
  .search-input {
    max-width: 25vw;
    font-size: 1em;
  }
}
@media screen and (max-width: 370px) {
  .search-input {
    max-width: 80px;
  }
}