@import './helpers.scss';

.result-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  margin-bottom: 18px;
  @include flexbox(column, space-between, center);
}

.result-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.result-container {
  padding: 0px 16px;
  position: relative;
  bottom: 0;
  width: calc(100% - 32px);
  font-family: 'Fira Sans', sans-serif;
}
.results-grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.card-result-footer {
  position: relative;
  @include flexbox(row, space-between, flex-end);
  bottom: 4px;
}

.begin-search {
  text-align: center;
  font-family: 'Poppins'
}
.blank-search {
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  font-family: "Fira- Sans", sans-serif;
}
@media screen and (max-width: 600px) {
  .result-container {
    width: 90%;
    p {
      max-width: 97%;
    }
  }
  .results-grid-container {
    grid-template-columns: repeat(2, 1fr);

  }
}
@media screen and (max-width: 400px) {
  .results-grid-container {
    grid-template-columns: repeat(1, 1fr);

  }
}